/* 調整用スタイル */

/*↓↓固定↓↓*/
html{
  font-size: 16px;
  font-family: 'Hiragino Kaku Gothic ProN','游明朝','Yu Mincho','YuMincho',serif;
  color: #010101;
}

@media screen and (max-width: 899px){
  html{
    font-size: 14px;
  }
}

*{  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font: 1vw; /*HTMLタグで適用した文字サイズクを基準とした比率で文字サイズを設定する。この場合、1rem=16px*/
  line-height: 30px; /*行間指定*/
  letter-spacing: 0em;/*字間指定*/
}
main{
  align-items: center ;
  margin: 0 auto;/*コンテンツ部分を真ん中に持ってくるための指定。widthを指定した上で、margin:0 auto を指定する。bodyには指定しない。意味ないから*/
}

img {vertical-align: bottom; /*画像の上下方向の隙間を無くすために指定*/
  width: 100%;
  height: auto;
} 

li{
list-style:none; /*箇条書きのマーカー（黒っぽち）を消す*/
}

ul{
margin: 0;
padding: 0;
}

div{
  display: block;
}

/*↑↑ここまで固定↑↑*/


a {
  text-decoration: none;
}

/* ヘッダー */


.header {
  background: linear-gradient(90deg, #A6DF6E 0%, #4ECF9E 50%);
  width: 100%;
  height: 68px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}


.header-inner {
  max-width: 1600px;
  padding: 0 40px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: inherit;
  position: relative;
}


/* ヘッダーのロゴ部分 */
.header__logo img{
  width: 300px;
  height: 50px;

}


.header__logo:hover {
  opacity: 0.8;
}


/* ヘッダーのナビ部分 */

.header__nav {
  padding-left: 20px;
  position: absolute;
  right: 0;
  left: 0;
  top: 67px;
  width: 100%;
  height: 320px;
  transform: translateX(100%);
  background-color: #fff;
  transition: ease .4s;
  display: flex;
}


@media screen and (min-width: 1001px) {
  .nav{
    width: 837px;
    
  }
  
  .header__nav {
    position: static;
    transform: initial;
    background-color: inherit;
    height: inherit;
    display: flex;
    justify-content: end;
  }
}


.nav__items {
  margin: auto;
}

@media screen and (min-width: 1001px) {
  .nav__items {
    margin: initial;
    width: 100%;
    display: flex;
    align-items: center;
    height: initial;
    justify-content: space-between;
  }
}



.nav-items__item {
  cursor: pointer;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;

}

@media screen and (min-width: 1001px) {

  .nav-items__item:before {
    position: absolute;
    content: "";
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    background: #A6DF6E;
    opacity: 0;

  }

  .nav-items__item:hover:before {
    opacity: 1;
  }

}

@media screen and (max-width: 1000px) {
  .nav-items__item a:hover{
    background: linear-gradient(transparent 80% ,#A6DF6E 0%);
  }
}


/* ナビのリンク */
.nav-items__item a {
  color: #010101;
  width: 100%;
  display: block;
  text-align: center;
  margin-bottom: 16px;
  font-size: 16px;
}

.nav-items__item:last-child a {
  margin-bottom: 0;
}

@media screen and (min-width: 1001px)  {
  .nav-items__item a {
    margin-bottom: 0;
  }
}


/* ハンバーガーメニュー */
.header__hamburger {
  width: 48px;
  height: 100%;
}

.hamburger {
  background-color: transparent;
  border-color: transparent;
  z-index: 9999;
  cursor: pointer;
}

@media screen and (min-width: 1001px) {
  .hamburger {
    display: none;
  }
}


/* ハンバーガーメニューの線 */
.hamburger span {
  width: 100%;
  height: 1.5px;
  background-color:  #010101;
  position: relative;
  transition: ease .4s;
  display: block;
}

.hamburger span:nth-child(1) {
  top: 0;
}

.hamburger span:nth-child(2) {
  margin: 8px 0;
}


.hamburger span:nth-child(3) {
  top: 0;
}


/* ハンバーガーメニュークリック後のスタイル */
.header__nav.active {
  transform: translateX(0);
}

.hamburger.active span:nth-child(1) {
  top: 5px;
  transform: rotate(45deg);
}


.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  top: -13px;
  transform: rotate(-45deg);
}



/*フッター*/
.footer{
  text-align: center;
  background: linear-gradient(90deg, #A6DF6E 0%, #4ECF9E 50%);
}

.footer__nav  {
  margin: auto;
padding: 60px 0 80px 0 ;
}

.footer__nav-items{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-nav-item{
padding: 6px 20px;
}

.footer-nav-item a {
  color: #FFFFFF;
    width: 100%;
    display: block;
    text-align: center;
}

.copyright{
  padding-bottom: 30px;
  color: #FFFFFF;
}

@media screen and (max-width: 899px){
  .footer__nav  {
  padding: 30px 0 30px 0 ;
  }

  .copyright{
    padding-bottom: 30px;
    font-size: 12px;
  }
}



/*CTL*/

/*新卒メインビジュ*/
.new-main-visual{
  position: relative;
}
.new-main-visual__img{
  height: auto;
  width: 100%;
   margin-top: 68px;
}


/*↓↓↓↓↓共通↓↓↓↓*/

/*新卒中途ボタン*/
.button-new-mid{
  display: flex;
}

.button-new , .button-mid{
  display: table;
  width: 100%;
 height: 90px;
 position: relative;
}

.button-new-mid p{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}


.button-new{
  background-color: #7FCA34;
  color: #FFF;
}
.button-mid{
  background-color:  #D9D9D9;
  color: #010101;
}
.button__vector{
  position: absolute;
  bottom: -19px;
  left: 48%;
  z-index: 20;
}


@media screen and (max-width: 899px){
  .button-new-mid{
    display: flex;
    justify-content: flex-end;
  }
  
  .button-new , .button-mid{
    display: table;
    width: 100%;
   height: 50px;
   position: relative;
  }
  
  .button-new-mid p{
    font-size: 20px;
  }
  
  .button__triangle{
    width: 15px;
    height: 15px;
  }
  
}

/*コンテンツ*/
.container{
  max-width: 1200px;
  margin: 0 auto;
  width: calc(100% - 40px);
}

.bk-gray{
  background-color: #F5F5F5;
}


/*見出し*/

.cont-heading{
  text-align: center;
  padding-bottom: 50px;
}

.cont-heading h3{
  color:  #7EBE4C;
  font-size: 48px;
  font-style: normal;
  line-height: 36px; /* 75% */
  padding: 140px 0px 50px 0;
}

.cont-heading__line{
   width: 525px;
  height: 18px;
}

@media screen and (max-width: 899px) {
  .cont-heading{
    padding-bottom: 30px;
    max-width: 350px;
    height: auto;
    margin: 0 auto;
  }
  
  .cont-heading h3{
    font-size: 22px;
    line-height: 30px; /* 150% */
    padding: 40px 0px 20px 0;
  }
  
  .cont-heading__line{
    max-width: 100%;
    height: auto;
 }
}

/*緑線の見出し*/
.item__title{
  padding-left: 16px;
  border-left: 8px solid #7FCA34;
  font-size: 24px;
}

@media screen and (max-width: 899px) {
  .item__title{
    font-size: 18px;
  }

}


/*詳しく見るボタン*/

/*丸がボタンに変形する*/

.btntransform p{
  position: relative;
 left:30px;
  color: #4ECF9E;
  font-weight: 600;
  z-index: 1;
}

.cont-button-arrow{
  position:relative; 
  left: 10px;
  width: 16px;
  height: 14px;
}

.btntransform{
  display: flex;
  align-items: center;
  width:135px;
  /*丸の基点とするためrelativeを指定*/
  position: relative;
  /*ボタンの形状*/  
  text-decoration: none;
  outline: none;
}

/* 丸が動く */
.btntransform::before{
  content:'';
    /*絶対配置で丸の位置を決める*/
  position:absolute;
  left:0;
  z-index: 0;
    /*丸の形状*/
  width:35px;
  height:35px;
  background:linear-gradient(96deg, #92CE56 7.32%, #13CFDB 83.98%);
  border-radius:25px;
  box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
    /*アニメーションの指定*/
    transition:300ms cubic-bezier(0.45, 1.45, 0.8, 1);

}

/*hoverした際の形状*/
.btntransform:hover::before{
  width:135px;
}
/*
.btntransform:hover::before{

	animation: poyo .6s;
}

@keyframes poyo {
	10% { transform: scale(1.2); }
	40% { transform: scale(.9); }
	60% { transform: scale(1.04); }
	80% { transform: scale(.98); }
}
*/

.btntransform:hover.btntransform p{
   color: #fff;
}



/*entry*/
.entry{
  height: 566px;
  /*
  background-image: url(images/entry-bk.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  */
  text-align: center;
  position: relative;
}

.entry_path{
  width: 100%;
  height: auto;
}
.entry_path-1, .entry_path-2{
  position: absolute;
  width: 100%;
  height: auto;
  left: 0;
}

.entry_path-1{
  top: 0;
}
.entry_path-2{
  bottom: 0;
}

.entry-form{
  z-index: 10;
}

.entry-form_txt{
  color: #7EBE4C;
  font-size: 32px;
  font-weight: 600;
  line-height: 36px; /* 112.5% */
padding: 190px 0 60px 0;
}

.form-button__inner{
  margin: 0 auto;
  max-width: 363px;
}


.entry-form-button__txt{
  color: #FFF;
font-size: 20px;
font-weight: 600;
padding:30px  90px ;
}

.form-button{
  margin: 0 auto;
  width: 100%;
  height: auto;
  display: flex;
justify-content: center;
align-items: center;
  border-radius: 80px;
background: linear-gradient(96deg, #92CE56 7.32%, #13CFDB 83.98%);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


@media screen and (max-width: 899px){
  .entry{
    height: initial;
    text-align: center;
  }
  
  .entry-form{
    padding: 90px 20px;
  }
  .entry-form_txt{
    font-size: 20px;
    line-height: 140%;
  padding: 0px 0 40px 0;
  }

  .form-button__inner{
   max-width: 250px;
  }

  .entry-form-button__txt{
  font-size: 18px;
  padding:15px 0px ;
  }
  
}

  

/*トップメッセージ*/

.top-msg{
  display: flex;
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
}

.top-msg__txt {
  padding: 140px 0px 140px 40px;
  width: 50%;
  z-index: 10;
}


.top-msg__txt h2{
font-size: clamp(32px, 3vw, 48px);
line-height: 156.25%;
letter-spacing: 0.15rem;
}

.top-msg__txt p{
  font-size: clamp(16px, 1.5vw, 24px);
  line-height: 250%;
  padding: 30px 40px 50px 0px;
  }

.top-msg__txt h3{
font-size: clamp(20px, 1.875vw, 30px);
line-height: 200%;
  }

.top-msg__photo{
  width: 50%;
}
.top-msg__photo-img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  
}

.top_msg_path{
  max-width: initial;
}
.top_msg_path-1, .top_msg_path-2{
  position: absolute;
  width: 100%;
  height: auto;
}

.top_msg_path-1{
  top: 0;
}
.top_msg_path-2{
  bottom: 0;
}


@media screen and (max-width: 899px) {
  .top-msg{
    display: flex;
    justify-content: center;
    position: relative;

    align-items: initial;
    padding: initial;
    max-width: none;
  }
  
  .top-msg__txt {
    z-index: 10;
    width: initial;
  padding: 120% 20px 60px 20px;
  }
  
  .top-msg__txt h2{
    font-size: clamp(23px, 5.4vw, 50px);
    line-height:  166.667%;
    letter-spacing: 0rem;
  }
  
  .top-msg__txt p{
    font-size: clamp(16px, 3vw, 32px);
    line-height:218.75%;
    padding: 30px 0px;
    }
  
  .top-msg__txt h3{
    font-size: clamp(20px, 4vw, 40px);
    line-height: 181.818%;
    }
  
  .top-msg__photo{
    position: absolute;
    top: 0px;
    width: 100%;
    height: auto;
  }

  .top-msg__photo::after {
    content: '';
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, transparent 0 40%, #fff 100%);
    }
 
  
  .top-msg__photo-img{
    width: 100%;
    height: auto;
    box-shadow: none;
  }
 }

/*代表からのメッセージ*/
.ceo-msg__inner{
display: flex;
align-items: flex-start;
justify-content: space-between;
padding-bottom: 140px;
}

.ceo-msg__photo{
  text-align: center;
  width: 506px;
  height: 493px;
  padding-right: 30px;
}

.ceo-msg__photo-img{
  width: 100%;
  height: auto;
}

.ceo-msg__photo-text{
padding-top: 10px;
font-size: 14px;
}


.ceo-msg__txt{
  width: 587px;
}

.ceo-msg__text-keymsg{
  padding-bottom: 25px;
font-size: 32px;
line-height:187.5% ;
}

.ceo-msg__marker-borde{
  background: linear-gradient(transparent 60% ,#A6DF6E 0%);
}

.ceo-msg__txt-desc{
font-size: 16px;
line-height: 250%;
}

@media screen and (max-width: 899px) {
  .ceo-msg__inner{
      display:block;
      justify-content: center;
      padding-bottom: 60px;
    }
    
    .ceo-msg__photo{
      width: 100%;
      height: auto;
      padding-right:initial;
    }
    
    .ceo-msg__photo-text{
    padding: 10px 0 20px 0;
    font-size: 13px;
    }
    
    .ceo-msg__txt{
      width: inherit;
    }
    
    .ceo-msg__text-keymsg{
      font-size: clamp(24px, 4vw, 32px);
      line-height:166.667%;
      padding-bottom: 15px;
    }
    
    .ceo-msg__marker-borde{
      background: linear-gradient(transparent 60% ,#A6DF6E 0%);
    }
    
    .ceo-msg__txt-desc{
    font-size: clamp(14px, 3.3vw, 16px);
    line-height:  214.286%;
  
    }
 }

/*事業案内*/
.biz-about-item{
  display: flex;
align-items: flex-start;
justify-content: space-between;
padding-bottom: 80px;
}
.biz-about-item-photo{
padding-right: 15px;
width: 580px;
height: 388px;
}

.biz-about-item-photo__img{
  width: 100%;
  height: auto;
}

.biz-about-item-txt{
  width: 580px;
  padding-left: 15px;
}

.biz-about-item__desc{
  padding-top: 15px;
}

.biz-about-item__button{
  padding: 10px 0;
}

/*デザインの種類*/

.design-types__des{
 padding: 32px;
}

.design-types-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.design-types-item{
  padding-bottom: 80px;
  width: 48%;
  height: auto;
}


.design-types-item__photo{
  width: 581px;
height: 313px;
}

.design-types-item__photo-img{
  width: 100%;
height: auto;
}

.design-types-item-txt {
  align-items: flex-start;
  padding: 32px 18px 32px 18px;
}

.design-types-item__desc{
  padding-top: 25px;
}

.design-types-item__skill{
  padding: 0px 18px 65px 38px;
  font-weight: 600;
  text-indent: -22px;
}

.design-types-item__skill p:before{ 
  display:inline-block; 
  vertical-align: middle;
  /*以下白丸つくる*/
  content:'';
  width:1em;
  height: 1em;
  background: #7EBE4C;
  border-radius: 50%;
  margin-right: 8px;
}

.design-types , .intern{ 
  padding-bottom: 80px;
}

/*SP設定　事業案内とデザインの種類*/
@media screen and (max-width: 899px) {
  .biz-about-item-txt{
    padding-top: 20px;
    width: inherit;
  }
  .biz-about-item-photo{
    width: 100%;
  height: auto;
    padding-right: initial;
    }

.design-types__des{
  padding: initial;
  padding-bottom: 60px;
 }
 
 .biz-about-item , .design-types-list{
  display:block;
  justify-content: center;
 }

 .design-types-item{
  padding-bottom: 80px;
  width: 100%;
  height: auto;
}
 
.design-types-item-txt {
  align-items: flex-start;
  padding: 20px 0;
}

.biz-about-item__desc ,.design-types-item__desc{
  padding-top: 15px;
}

}

/*募集要項*/
.recruitment{
  padding-bottom: 119px;
}

.recruitment-m-table{
  border-collapse: collapse;
}
.recruitment-m-table th, .recruitment-m-table td{
  border-bottom: 1px solid #000;
  line-height:  225% ;
  height: 100px;
}

.recruitment-m-table th{
  font-weight: 600;
  width: 224px;
  padding: 18px 0px;
}
.recruitment-m-table td{
  width: 900px;
  padding: 18px 80px;
}


@media screen and (max-width: 899px) {

  .recruitment-m-table th{
    font-weight: 600;
    padding: 18px 20px;
  }
  .recruitment-m-table td{
    width: 900px;
    padding: 18px 20px;
  }

  }
  
/*インターンシップ*/
.intern-photo{
  padding-top: 10px;
 max-width: 1203px;
  max-height: 430px;
}

.intern-photo__img{
  width: 100%;
  height: auto;
}

.intern-txt__decs{
  padding: 15px 0 60px 0;
}
.intern-txt{
  padding-bottom: 73px;
}

@media screen and (max-width: 899px) {
  .intern-txt__decs{
    padding: 15px 0 30px 0;
  }

  }

.intern-txt__button{
padding: 10px;
  }