/* 調整用スタイル */

/*↓↓固定↓↓*/
html{
  font-size: 16px;
  font-family: 'Hiragino Kaku Gothic ProN','游明朝','Yu Mincho','YuMincho',serif;
  color: #010101;
}

*{  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font: 1vw; /*HTMLタグで適用した文字サイズクを基準とした比率で文字サイズを設定する。この場合、1rem=14px*/
  line-height: 30px; /*行間指定*/
  letter-spacing: 0em;/*字間指定*/
  background-size: 100% auto,auto ;
}
main{
  align-items:center ;
  margin: 0 auto;/*コンテンツ部分を真ん中に持ってくるための指定。widthを指定した上で、margin:0 auto を指定する。bodyには指定しない。意味ないから*/

}

img {vertical-align: bottom; /*画像の上下方向の隙間を無くすために指定*/
} 

li{
list-style:none; /*箇条書きのマーカー（黒っぽち）を消す*/
}

ul{
margin: 0;
padding: 0;
}

div{
  display: block;
}

/*↑↑ここまで固定↑↑*/



a {
  text-decoration: none;
}




/* ヘッダー */


.header {
  background-color: rgb(255, 140, 140);
  width: 100%;
  height: 68px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}





.header__inner {
  padding: 0 80px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: inherit;
  position: relative;
}


/* ヘッダーのロゴ部分 */
.header__logo {
  width: 190px;
  display: flex;
  align-items: center;
  margin-right: auto;
  
}


.header__logo:hover {
  opacity: 0.8;
}


/* ヘッダーのナビ部分 */

.header__nav {
  position: absolute;
  display: flex;
}


.nav__items {
  margin: auto;
}

@media screen and (min-width: 800px) {
  .nav__items {
    margin: initial;
    width: 100%;
    display: flex;
    align-items: center;
    height: initial;
  
  }
}



.nav-items__item {
  cursor: pointer;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;

}


.nav-items__item:not(:last-child){
    margin-right: 35px;
}
@media screen and (min-width: 800px) {

  .nav-items__item:before {
    position: absolute;
    content: "";
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    background: #DA6215;
    opacity: 0;

  }

  .nav-items__item:hover:before {
    opacity: 1;
  }

}



/* ナビのリンク */
.nav-items__item a {
  color: black;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 24px;
  margin-bottom: 24px;
}

.nav-items__item:last-child a {
  margin-bottom: 0;
}

@media screen and (min-width: 800px)  {
  .nav-items__item a {
    margin-bottom: 0;
    font-size: 18px;
  }
}


/* ハンバーガーメニュー */
.header__hamburger {
  width: 48px;
  height: 100%;
}

.hamburger {
  background-color: transparent;
  border-color: transparent;
  z-index: 9999;
  cursor: pointer;
}

@media screen and (min-width: 800px) {
  .hamburger {
    display: none;
  }
}


/* ハンバーガーメニューの線 */
.hamburger span {
  width: 100%;
  height: 1px;
  background-color: #000;
  position: relative;
  transition: ease .4s;
  display: block;
}

.hamburger span:nth-child(1) {
  top: 0;
}

.hamburger span:nth-child(2) {
  margin: 8px 0;
}


.hamburger span:nth-child(3) {
  top: 0;
}


/* ハンバーガーメニュークリック後のスタイル */
.header__nav.active {
  transform: translateX(0);
}

.hamburger.active span:nth-child(1) {
  top: 5px;
  transform: rotate(45deg);
}


.hamburger.active span:nth-child(2) {
  opacity: 0;
}


.hamburger.active span:nth-child(3) {
  top: -13px;
  transform: rotate(-45deg);
}




/* メインビジュ*/
.mainvisual{
  position: relative;
}
.mainvisual img{
  margin-top: 60px;
  width: 100%;
  height: auto;
  z-index: 100;

}

@media screen and (min-width: 800px) {
  .sp {
    display: none;
  }
}
@media screen and (max-width: 799px) {
  .pc {
    display: none;
  }
}




/*フッター*/
.footer{
  text-align: center;
  background-color: #ffffff;
  color: #000;
}


.footer div {
  margin: auto;
}


.footer ul img{
  width: 50px;
  height: auto;
}

.sns_rink{
width: 300px;
padding: 80px 0 30px 0;
}

.sns  {
    display: flex;
    justify-content: space-between;
  width: 100%;
  padding-top: 20px;
  }

  .csfes li {  
    width: calc(100% * (700 / 1080)) ; 
 
  }

  .zokei li {  width: calc(100% * (550 / 1080)) ; 
  
  }

  .zokei{
    padding-top: 30px;
  }
  
.kao{
  width: 100px;
  height: auto;
  padding-bottom: 30px;
}

.copyright{
  align-items: flex-end;
  padding-bottom: 20px;
  font-size: 9px;
}







/*CTL コンテンツ*/

/*新卒メインビジュ*/
.new-main-visual{
  height: 798px;
  width: auto;
  background-color: #33AFB2;
  margin-top: 68px;
}

/*新卒中途ボタン*/
.button-new-mid{
  display: flex;
  justify-content: flex-end;
}

.button-new , .button-mid{
  display: table;
  width: 100%;
 height: 90px;
}

.button-new-mid p{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
}

.button-new{
  background-color: #7FCA34;
  color: #FFF;
}



/*コンテンツ*/
.container{
  width: 1200px;
  margin: auto;
}



/*見出し*/

.cont-heading h3{
  color:  #7EBE4C;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px; /* 75% */
  padding: 140px 0px 50px 0;
}
.cont-heading{
  text-align: center;
  padding-bottom: 50px;
}


/*緑線の見出し*/
.item__title{
  padding-left: 16px;
  border-left: 8px solid #7FCA34;
}


/*entry*/
.entry{
  width: 1600px;
  height: 566px;
  background-image: url(images/entry-bk.png);
  background-size:  auto;
  background-repeat: no-repeat;
}

/*トップメッセージ*/

.top-msg{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 140px 0;
}

.top-msg__txt {
width: 849px;
padding: 0px 0px 0px 60px;
}


.top-msg__txt h2{
font-size: 48px;
line-height: 75px; /* 156.25% */
letter-spacing: 2.4px;
}

.top-msg__txt p{
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 60px; /* 250% */
  padding: 30px 47px 50px 0px;
  }

.top-msg__txt h3{
font-size: 30px;
font-weight: 600;
line-height: 60px; /* 200% */
  }


.top-msg__photo-img{
  width: 100%;
  height: auto;
  box-shadow: 22px 21px 0  #7FCA34;
  
}

/*代表からのメッセージ*/
.ceo-msg__inner{
display: flex;
align-items: flex-start;
justify-content: space-between;
padding-bottom: 140px;
}

.ceo-msg__photo{
  text-align: center;
}

.ceo-msg__photo{
  width: 506px;
  height: 453px;
}

.ceo-msg__photo-text{
padding-top: 10px;
font-size: 20px;
}


.ceo-msg__txt{
  width: 587px;
}

.ceo-msg__text-keymsg{
  padding-bottom: 25px;
font-size: 32px;
line-height: 60px; /* 187.5% */
}

.ceo-msg__txt-desc{
font-size: 16px;
line-height: 40px; /* 250% */
}


/*事業案内*/
.biz-about-item{
  display: flex;
align-items: flex-start;
justify-content: space-between;
padding-bottom: 80px;
}
.biz-about-item-photo__img{
width: 580px;
height: 388px;
}

.biz-about-item-txt{
  width: 580px;
}


/*デザインの種類*/
.design-types{
  padding-bottom: 80px;
}

.design-types__des{
 padding: 32px;
}

.design-types-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.design-types-item{
  padding-bottom: 80px;
}

.design-types-item-txt {
  width: 580px;
  align-items: flex-start;
  padding: 32px 18px 32px 18px;
}

.design-types-item__desc{
  padding-top: 25px;
}

.design-types-item__skill{
  padding: 0px 18px 65px 38px;
  font-weight: 600;
  text-indent: -22px;
}

.design-types-item__skill p:before{ 
  display:inline-block; 
  vertical-align: middle;
  /*以下白丸つくる*/
  content:'';
  width:1em;
  height: 1em;
  background: #7EBE4C;
  border-radius: 50%;
  margin-right: 8px;
}
